.restaurants
{
       margin: auto;
    padding-top: 30px;
    background-color: whitesmoke;
    font-family: 'roboto';
    h1
    {
        @include center;
        margin: auto;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    &__blocs
    {
        display: flex;
        max-width: 100%;  
        width: 800px; 
        flex-wrap: wrap;   
        justify-content: space-between;  
        
        margin: auto;
        .details
        {
            
            position: relative;
            cursor: pointer;
            @include border-shadow;
            margin-bottom: 20px;
            .nouveau
            {
                position: absolute;
                background-color: $color-tertiaire;
                padding: 5px 10px 5px 10px;
                right: 30px;
                bottom: 250px;
                color: darken($color: $color-tertiaire, $amount: 50%);
                font-size:large;
                font-weight: bold;
            }
            @media (max-width:1100px) {
                width: 90%;
                
            }
        
        img
        {
            height: 250px;
            object-fit: cover;
            width: 100%;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }
        .hybrid
        {
            width: 374.950px;
            @media (max-width:1100px) {
                width: 100%;
                
            }
        }
        h2
        {
            padding-top: 10px;
            padding-left: 25px;
            margin: auto;
        }
        &__description
        {
            padding-left: 10px;
            display: flex;
            justify-content: space-between;
            
            p
            {
                margin: auto;
                margin-left: 15px;
                margin-bottom: 15px;
            }
            &--heart
            {
                margin-top: -10px;
                padding-right: 20px;
                width: 20px;
            cursor: pointer;
            fill: transparent;
            stroke: black ;
            stroke-width: 10;
            stroke-opacity: 1;
            transition: 1s;
            &:hover
            {
                
                fill: url(#grad);
                animation: heart-animation 1s linear;
                stroke: transparent;
                
            }
            }
            
        }
        }
          @media (max-width:1100px) {
              @include center;
              flex-direction: column;
              width: 90%;
          }
    }
}
