footer
{  
    margin: auto;
    .title
    {
        font-family: 'Shrikhand';
    }
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    color: white;
    ul
    {

        display: flex;
        justify-content: space-around;
        @media (max-width:1000px)
        {
            @include center;
            flex-direction: column;
        }

    }
    li
    {
        cursor: pointer;
        font-size: 20px;
        font-family: 'roboto';
        
        list-style-type: none;
    }
    @media (max-width:600px) {
    justify-content: flex-start;
    text-align: start;
    }

}