@charset "UTF-8";
body {
  margin: auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slide-left {
  0% {
    transform: scaleX(0);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heart-animation {
  0% {
    fill-opacity: 0;
    stroke-opacity: 1;
  }
  100% {
    fill-opacity: 1;
    stroke-opacity: 0;
  }
}
@keyframes loading_page {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
#bloc1 {
  animation-delay: 0.1s;
}

#bloc2 {
  animation-delay: 0.2s;
}

#bloc3 {
  animation-delay: 0.3s;
}

#bloc4 {
  animation-delay: 0.4s;
}

#bloc5 {
  animation-delay: 0.5s;
}

#bloc6 {
  animation-delay: 0.6s;
}

#bloc7 {
  animation-delay: 0.7s;
}

#bloc8 {
  animation-delay: 0.8s;
}

#bloc9 {
  animation-delay: 0.9s;
}

#bloc10 {
  animation-delay: 1s;
}

.loader_section {
  height: 100vh;
  width: 100vw;
  background-color: hsla(0deg, 0%, 100%, 0.9);
  position: fixed;
  animation: loading_page linear;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10000;
}
.loader_section .loader {
  height: 100px;
  width: 100px;
  border: 15px solid #505759;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-color: #42cbf5;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

button {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  padding: 15px 20px 15px 20px;
  border-radius: 25px;
  border: none;
  color: white;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px gray;
}
button:hover {
  background: linear-gradient(to bottom right, #fface8, #ae80e5);
  box-shadow: 0px 0px 10px 0px #343434;
}

.topsectionv0 {
  max-width: 100%;
  font-family: "roboto";
  margin: auto;
  flex-direction: column;
  width: 100%;
  height: 250px;
  background-color: whitesmoke;
  border-top-right-radius: 0px;
}
.topsectionv0 h1 {
  text-align: center;
  padding-top: 30px;
  margin: auto;
  padding-bottom: 20px;
  width: 70%;
}
.topsectionv0 p {
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-top: 0px;
  width: 75%;
}

a {
  text-decoration: none;
  color: black;
}

.fonctionnement {
  padding-bottom: 60px;
  font-family: "Roboto", sans-serif;
}
.fonctionnement h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}
.fonctionnement__blocs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  margin-left: 10px;
}
@media (max-width: 900px) {
  .fonctionnement__blocs {
    display: flex;
    flex-direction: column;
  }
}
.fonctionnement__blocs--design {
  max-width: 100%;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  font-size: 13px;
  width: 400px;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px #c2c2c2;
  height: 70px;
}
.fonctionnement__blocs--design i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.fonctionnement__blocs--design p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  left: -15px;
  background-color: #9356DC;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement__blocs--design:hover {
  background-color: #f2eafb;
}
@media (max-width: 600px) {
  .fonctionnement {
    padding-bottom: 60px;
    font-family: "Roboto", sans-serif;
  }
  .fonctionnement h1 {
    padding-left: 20px;
  }
  .fonctionnement__blocs {
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-left: 10px;
  }
  .fonctionnement__blocs--design {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    width: 90%;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0px #c2c2c2;
    margin: auto;
    height: 70px;
  }
  .fonctionnement__blocs--design i {
    padding-right: 15px;
  }
  .fonctionnement__blocs--design p {
    position: relative;
    background-color: #9356DC;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fonctionnement__blocs--design:hover {
    background-color: #f2eafb;
  }
}

.backgroundimg {
  object-fit: cover;
  margin: auto;
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: -200px;
}
@media (max-width: 1000px) {
  .backgroundimg {
    height: 100%;
    margin-bottom: -45px;
  }
}

.alphapage {
  max-width: 100%;
  margin: auto;
  padding-bottom: 40px;
  width: 40%;
  position: relative;
  background-color: whitesmoke;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1000px) {
  .alphapage {
    width: 100%;
  }
}
.alphapage .topsection {
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 40px;
  padding-left: 40px;
}
.alphapage .topsection .heart {
  width: 30px;
  padding-top: 20px;
  cursor: pointer;
  fill: transparent;
  stroke: black;
  stroke-width: 10;
  stroke-opacity: 1;
  transition: 0.5s;
}
.alphapage .topsection .heart:hover {
  fill: url(#grad);
  animation: heart-animation 1s linear;
  stroke: transparent;
}
.alphapage .entrées {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
}
.alphapage .entrées h2 {
  margin: auto;
  padding-top: 15px;
  padding-left: 15px;
}
.alphapage .entrées .title {
  padding-bottom: 10px;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #99E2D0 2px solid;
  width: 100%;
}
@media (max-width: 800px) {
  .alphapage .entrées .title {
    margin-left: 20px;
    justify-content: flex-start;
    width: 10%;
  }
}
.alphapage .entrées__blocs {
  cursor: pointer;
  animation: opacity 3s both;
  font-size: 12px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px gainsboro;
  background-color: white;
  width: 90%;
  margin: auto;
  padding-left: 5px;
}
.alphapage .entrées__blocs--description {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alphapage .entrées__blocs--description:hover .description2 p {
  display: flex;
  padding-right: 20px;
  transform-origin: right;
  transition: 700ms;
}
.alphapage .entrées__blocs--description:hover .description2 .validation {
  display: flex;
  animation: slide-left 400ms linear;
  transform-origin: right;
}
.alphapage .entrées__blocs--description h3 {
  padding-left: 12px;
  white-space: nowrap;
}
.alphapage .entrées__blocs--description .description2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
  display: flex;
}
.alphapage .entrées__blocs--description .description2 p {
  position: relative;
  font-weight: bold;
  padding-right: 10px;
}
.alphapage .entrées__blocs--description .description1 {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
.alphapage .entrées__blocs--description .validation {
  display: none;
  position: relative;
  font-size: 35px;
  color: white;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  padding: 0 13px;
  height: 82px;
}
.alphapage .entrées__blocs--description .validation i {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
}
.alphapage .plats {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
}
.alphapage .plats h2 {
  margin: auto;
  padding-top: 15px;
  padding-left: 15px;
}
.alphapage .plats .title {
  padding-bottom: 10px;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #99E2D0 2px solid;
  width: 100%;
}
@media (max-width: 800px) {
  .alphapage .plats .title {
    margin-left: 20px;
    justify-content: flex-start;
    width: 10%;
  }
}
.alphapage .plats__blocs {
  cursor: pointer;
  animation: opacity 3s both;
  font-size: 12px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px gainsboro;
  background-color: white;
  width: 90%;
  margin: auto;
  padding-left: 5px;
}
.alphapage .plats__blocs--description {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alphapage .plats__blocs--description:hover .description2 p {
  display: flex;
  padding-right: 20px;
  transform-origin: right;
  transition: 700ms;
}
.alphapage .plats__blocs--description:hover .description2 .validation {
  display: flex;
  animation: slide-left 400ms linear;
  transform-origin: right;
}
.alphapage .plats__blocs--description h3 {
  padding-left: 12px;
  white-space: nowrap;
}
.alphapage .plats__blocs--description .description2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
  display: flex;
}
.alphapage .plats__blocs--description .description2 p {
  position: relative;
  font-weight: bold;
  padding-right: 10px;
}
.alphapage .plats__blocs--description .description1 {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
.alphapage .plats__blocs--description .validation {
  display: none;
  position: relative;
  font-size: 35px;
  color: white;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  padding: 0 13px;
  height: 82px;
}
.alphapage .plats__blocs--description .validation i {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
}
.alphapage .desserts {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
}
.alphapage .desserts h2 {
  margin: auto;
  padding-top: 15px;
  padding-left: 15px;
}
.alphapage .desserts .title {
  padding-bottom: 10px;
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #99E2D0 2px solid;
  width: 100%;
}
@media (max-width: 800px) {
  .alphapage .desserts .title {
    margin-left: 20px;
    justify-content: flex-start;
    width: 10%;
  }
}
.alphapage .desserts__blocs {
  cursor: pointer;
  animation: opacity 3s both;
  font-size: 12px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px gainsboro;
  background-color: white;
  width: 90%;
  margin: auto;
  padding-left: 5px;
}
.alphapage .desserts__blocs--description {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alphapage .desserts__blocs--description:hover .description2 p {
  display: flex;
  padding-right: 20px;
  transform-origin: right;
  transition: 700ms;
}
.alphapage .desserts__blocs--description:hover .description2 .validation {
  display: flex;
  animation: slide-left 400ms linear;
  transform-origin: right;
}
.alphapage .desserts__blocs--description h3 {
  padding-left: 12px;
  white-space: nowrap;
}
.alphapage .desserts__blocs--description .description2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
  display: flex;
}
.alphapage .desserts__blocs--description .description2 p {
  position: relative;
  font-weight: bold;
  padding-right: 10px;
}
.alphapage .desserts__blocs--description .description1 {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}
.alphapage .desserts__blocs--description .validation {
  display: none;
  position: relative;
  font-size: 35px;
  color: white;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  padding: 0 13px;
  height: 82px;
}
.alphapage .desserts__blocs--description .validation i {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  transform: rotate(180deg);
  animation: rotate 0.5s both;
}

.restaurants {
  margin: auto;
  padding-top: 30px;
  background-color: whitesmoke;
  font-family: "roboto";
}
.restaurants h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 20px;
  padding-bottom: 20px;
}
.restaurants__blocs {
  display: flex;
  max-width: 100%;
  width: 800px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.restaurants__blocs .details {
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 0px #c2c2c2;
  margin-bottom: 20px;
}
.restaurants__blocs .details .nouveau {
  position: absolute;
  background-color: #99E2D0;
  padding: 5px 10px 5px 10px;
  right: 30px;
  bottom: 250px;
  color: #1b6150;
  font-size: large;
  font-weight: bold;
}
@media (max-width: 1100px) {
  .restaurants__blocs .details {
    width: 90%;
  }
}
.restaurants__blocs .details img {
  height: 250px;
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.restaurants__blocs .details .hybrid {
  width: 374.95px;
}
@media (max-width: 1100px) {
  .restaurants__blocs .details .hybrid {
    width: 100%;
  }
}
.restaurants__blocs .details h2 {
  padding-top: 10px;
  padding-left: 25px;
  margin: auto;
}
.restaurants__blocs .details__description {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}
.restaurants__blocs .details__description p {
  margin: auto;
  margin-left: 15px;
  margin-bottom: 15px;
}
.restaurants__blocs .details__description--heart {
  margin-top: -10px;
  padding-right: 20px;
  width: 20px;
  cursor: pointer;
  fill: transparent;
  stroke: black;
  stroke-width: 10;
  stroke-opacity: 1;
  transition: 1s;
}
.restaurants__blocs .details__description--heart:hover {
  fill: url(#grad);
  animation: heart-animation 1s linear;
  stroke: transparent;
}
@media (max-width: 1100px) {
  .restaurants__blocs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
}

footer {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
  color: white;
}
footer .title {
  font-family: "Shrikhand";
}
footer ul {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1000px) {
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
footer li {
  cursor: pointer;
  font-size: 20px;
  font-family: "roboto";
  list-style-type: none;
}
@media (max-width: 600px) {
  footer {
    justify-content: flex-start;
    text-align: start;
  }
}

.v1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.v1 img {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .v1 img {
    max-width: 100%;
    width: 200px;
  }
}
.v1 .location {
  max-width: 100%;
  margin: auto;
  font-family: "Roboto";
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  border-top: 2px solid grey;
  width: 100%;
}
.v1 .location i {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.v2 {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.v2 img {
  margin: auto;
  max-width: 100%;
  width: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.v2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
